/* Projects.css */

.projects-container {
  margin: 20px;
  display: flex;
  justify-content: center; /* Center projects horizontally */
  align-items: center;
}

.project {
  border: 1px solid #e2e2e2;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff; /* White background */
  
}

.project h3 {
  color: #1a1a1a;
}

.project p {
  color: #4d4d4d;
}

.project a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #0077cc;
}

.project a:hover {
  text-decoration: underline;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
